//
// CardAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire


open class CardAPI {     /**
     get the card battle description for a specifique card
     - parameter cardId: (path) the card unique identifier 
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func cardGet(cardId: String, completion: @escaping ((_ data: Card?,_ error: Error?) -> Void)) {
        cardGetWithRequestBuilder(cardId: cardId).execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     get the card battle description for a specifique card
     - GET /card/{cardId}
     - parameter cardId: (path) the card unique identifier 

     - returns: RequestBuilder<Card> 
     */
    open class func cardGetWithRequestBuilder(cardId: String) -> RequestBuilder<Card> {
        var path = "/card/{cardId}"
        let cardIdPreEscape = "\(cardId)"
        let cardIdPostEscape = cardIdPreEscape.addingPercentEncoding(withAllowedCharacters: .urlPathAllowed) ?? ""
        path = path.replacingOccurrences(of: "{cardId}", with: cardIdPostEscape, options: .literal, range: nil)
        let URLString = SwaggerClientAPI.basePath + path
        let parameters: [String:Any]? = nil

        let url = URLComponents(string: URLString)

        let requestBuilder: RequestBuilder<Card>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
